.hide-animation {
	opacity: 0 !important;
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	animation: none !important;
}

.widget-animate {
	opacity: 1;
}
