
.hide-nav-wrap {
    position:absolute;
    top:0;
    left:0;
    z-index:10000;
}
.hide-nav {
    position:relative;
    background:#566169;
    padding:2px 10px;
    font-family:Arial,Helvetica,Verdana,sans-serif;
    font-size:12px;
    color:#fff;
    cursor:pointer;
    transition:all 0.1s linear;
    border-radius:0 0 4px 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.hide-nav:hover {
    background:#495157;
    font-size:12px;
}

body.elementor-editor-active div#loader-wrapper {
    display: none;
}

.elementor-control-raw-html {
    line-height: 17px;
}

.elementor-add-new-section .elementor-add-thmv-button {
    background-color: #4440db;
    position: relative;
    margin-left: 5px;
}
.elementor-add-new-section .elementor-add-thmv-button i {
    font-size: 16px;
}




