/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18-Nov-2021, 16:32:54
    Author     : Abrar
*/


$colorGreen : #BAD344;
$bgColor: #34383c;
$lightGray: #404349;

#elementor-controls .elementor-control-th_dynamic_image,.elementor-control-th_section_parallax{
        .elementor-control-title{
            font-weight: 600;
        }
}
body.themo-dark-mode #elementor-controls{
    .elementor-control-th_dynamic_image, 
    .elementor-control-th_thmv_section_title,
    .elementor-control-th_section_parallax,
    .elementor-control-th_dynamic_image{
        padding-bottom: 0; 
        .elementor-control-content{
            padding: 20px 15px 0;
            background-color: $bgColor;
        }
    }
    .elementor-control-th_thmv_section_title{
        .elementor-control-content{
            color: $colorGreen;
        }
    }
    .elementor-control-th_dynamic_image,.elementor-control-th_section_parallax{
        .elementor-switch-label{
                background-color: $lightGray;
        }
        .elementor-switch-input:checked{
            ~.elementor-switch-label{
                background-color: $colorGreen;
            }
        }
    }
    //the last ones have the padding
    .elementor-control-th_dynamic_image{
        padding-bottom: 20px;
        .elementor-control-content{
            padding-bottom: 20px;
        }

    }
}
