/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18-Nov-2021, 16:32:54
    Author     : Abrar
*/

$bellevueColor: #BAD344;
$lightGray: #404349;
$stratusColor: #71d7f7;
$darkBgColor: #34383c;

[class^="th-editor-icon-"]:after, [class*=" th-editor-icon-"]:after{
    .themo-active-theme-stratus &{
        background-color: $stratusColor;
    }
    .themo-active-theme-bellevue &{
        background-color: $bellevueColor;
    }
}
#elementor-controls{

    .themo-elementor-dark-mode &{
        .elementor-control-th_dynamic_image, 
        .elementor-control-th_thmv_section_title,
        .elementor-control-th_section_parallax,
        .elementor-control-th_dynamic_image{
            padding-bottom: 0; 
            .elementor-control-content{
                padding: 20px 15px 0;
                background-color: $darkBgColor;
            }
        }
    }

    .elementor-control-th_thmv_section_title{
        .elementor-control-content{
            .themo-active-theme-stratus &{
                color: $stratusColor;
            }
            .themo-active-theme-bellevue &{
                color: $bellevueColor;
            }
        }
    }
    .elementor-control-th_dynamic_image,.elementor-control-th_section_parallax{
        .elementor-control-title{
            font-weight: 600;
        }
        .elementor-switch-input:not(:checked){
            ~.elementor-switch-label{
                .themo-elementor-dark-mode &{
                    background-color: $lightGray;
                }

            }
        }
        .elementor-switch-input:checked{
            ~.elementor-switch-label{
                .themo-active-theme-stratus &{
                    background-color: $stratusColor;
                }
                .themo-active-theme-bellevue &{
                    background-color: $bellevueColor;
                }
            }
        }
    }
    //the last ones have the padding
    .elementor-control-th_dynamic_image{
        padding-bottom: 20px!important;

        .elementor-control-content{
            .themo-elementor-dark-mode &{
                padding-bottom: 20px;
            }
        }

    }
}
