@import "variables";
@each $per in $percentage {
    @media(min-width: $sm){
        .thmv-column-#{$per} {
            width: #{$per}#{$percentageUnit}!important;
            max-width: #{$per}#{$percentageUnit}!important;
        }

    }
}
@each $per in $percentage {
    @media(max-width: $sm-max){
        .thmv-column-mobile-#{$per} {
            width: #{$per}#{$percentageUnit}!important;
            max-width: #{$per}#{$percentageUnit}!important;
        }
    }
}

@media(min-width: $md) and (max-width: $md-max){
    @each $per in $percentage {
        .thmv-column-tablet-#{$per} {
            width: #{$per}#{$percentageUnit}!important;
            max-width: #{$per}#{$percentageUnit}!important;
        }

    }
}



