@import "variables";
$padding-left: 60px;
.thmv-prc-styl-3{

    .thmv-prc-row{
        @include d-flex;
        width: 100%;
        @include justify-content-between;
        @include align-items-center;
        padding: 30px;
        border: transparent 1px solid;
        @media(max-width: $sm-max){
            padding: 20px;
        }

        @media(min-width: $lg){
            &:nth-child(even) {
                background: #EAEAEA;
                .thmv-info-pricing{
                    background-color: white;
                }
            }
            padding-left: 80px;
            padding-right: 80px;
        }
        &+.thmv-prc-row{
            border-top: 0;
        }
    }
    .thmv-column-1 {
        width: 100%;
        /*margin-bottom: 20px;*/
        @include d-flex;
        @include flex-nowrap;
        @include align-items-center;
        flex: 0 0 auto;
        @media(min-width: $md){
            width: 70%;
        }
        @media(min-width: $lg){
            width: 45%;
        }
    }
    .thmv-column-2 {
        /*        width: calc(50px + #{$padding-left});*/
        padding-left: 60px;
        @include d-flex;
        flex: 0 0 auto;
        @include justify-content-end;
        @media(min-width: $md){
            width: 30%;
        }
        @media(min-width: $lg){
            width: 10%;
            padding: 0;
/*            @include align-self-start;*/
        }

    }
    .thmv-column-3 {
        @include d-flex;
        flex: 0 0 auto;
        @media(max-width: $sm-max){
            width: 100%;
            margin-top: 10px;
        }
        @media(min-width: $md) {
            padding-left: $padding-left;
            margin-top: 10px;
        }
        @media(min-width: $lg){
            width: 45%;
            text-align: center;
        }
    }

    .thmv-price{
        @media(min-width: $md){
            font-weight: 900;
            font-size: 22px;
        }
    }
    .thmv-price-title {
        /*display: none;*/
        @media(min-width: $md){
            display: block;
            font-weight: normal;
            font-size: 16px;
        }
        @media(max-width: $sm-max){
            margin-left: 5px;
        }
    }

    .thmv-info{
        h3{
            font-size: 18px;
            font-weight: 400;
            margin: 0;
            @media(min-width: $md){
                font-size: 20px;
            }
        }

    }

    .thmv-info-icon{
        width: $padding-left;
        padding-right: 20px;
        padding-top: 5px;
        font-size: 28px;
        color: rgb(78, 82, 76);
        align-self: flex-start;
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            font-size: 14px;
            display: inline-block;
            margin-right: 12px;
            margin-top: 5px;
            position: relative;
            font-weight: 400;
            color: #757674;
            font-weight: 400;
            @media(min-width: $md){
                font-size: 16px;
            }
            &:not(:last-child):after {
                content: "";
                display: block;
                background: #757674;
                width: 4px;
                height: 4px;
                border-radius: 100px;
                position: absolute;
                top: 50%;
                right: -11px;
            }
        }
    }
    .thmv-info-pricing{
        padding: 14px 12px;
        /*        width: 50px;*/

        @media(max-width: $sm-max){
            margin-right: 10px;
            min-width: 72px;
            line-height: 1.3;
            @include flex-row;
            padding:10px;
        }
        background: #EAEAEA;
        @include d-flex;
        text-align: center;
        @include flex-column;
        @include justify-content-center;
        @include align-items-center;
        @media(min-width: $md){
            min-width: 77px;
            line-height: 1.3;
        }

    }
    .thmv-info-button {
        @media(max-width: $sm-max) {
            .th-btn {
                width: 100%;
            }
        }
        width: 100%;
        margin: 0 auto;
    }
    .thmv-learn-btn {
        padding: 0 26px;
        min-height: 50px;
        line-height: 50px;
        margin: 0px;
        font-weight: bold;
        font-size: 14px;
        background: #404040;
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        @media(min-width: $md){
            min-width: 290px;
        }
    }
}