
.xs-icon {font-size:18px}

.sm-icon {font-size:24px}

.med-icon {font-size:32px}

.lrg-icon {font-size:52px}

.xl-icon {font-size:72px}

.circle {
    -webkit-border-radius: 50em !important;
    -moz-border-radius: 50em !important;
    border-radius: 50em !important;
}

.accent {color:#045089}

.invert {
    background-color:#bfbfbf;
    color:#fff;
}

.circle-med-icon span,
.circle-med-icon i,
.circle-lrg-icon span,
.circle-lrg-icon i,
.border-med-icon span,
.border-med-icon i {
    -webkit-border-radius: 50em !important;
    -moz-border-radius: 50em !important;
    border-radius: 50em !important;
    line-height:100%;
    text-align:center;
    display: inline-block;
    vertical-align:top !important;
    -webkit-transition:all 0.25s linear;
    -moz-transition:all 0.25s linear;
    transition:all 0.25s linear;
}

.circle-med-icon span,
.circle-med-icon i {
    background-color:#045089;
    color:#fff;
    font-size:22px;
    padding:22px;
}

.border-med-icon span,
.border-med-icon i {
    color:#045089;
    font-size:22px;
    padding:22px;
    border:4px solid #045089;
}

.circle-lrg-icon span,
.circle-lrg-icon i {
    color:#fff;
    font-size:52px;
    padding:48px;
    background-color:#045089;
    border:4px solid #045089;
}
.circle-lrg-icon span:hover,
.circle-lrg-icon i:hover {
    background-color:transparent;
    color:#045089;
    border:4px solid #045089;
}



/*
.light-text .circle-lrg-icon span:hover,
.light-text .circle-lrg-icon i:hover {
    color:#fff;
    border-color:#fff;
} */