	/*
  	travelpack icon font: travelpack
  	Creation date: 22/06/2016 15:16
  	*/

@font-face {
  font-family: "travelpack";
  src: url("fonts/travelpack.eot");
  src: url("fonts/travelpack.eot?#iefix") format("embedded-opentype"),
       url("fonts/travelpack.woff") format("woff"),
       url("fonts/travelpack.ttf") format("truetype"),
       url("fonts/travelpack.svg#travelpack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "travelpack";
    src: url("fonts/travelpack.svg#travelpack") format("svg");
  }
}

[class^="travelpack-"]:before, [class*=" travelpack-"]:before,
[class^="travelpack-"]:after, [class*=" travelpack-"]:after {   
  font-family: travelpack;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.travelpack-aeroplane-top-view:before { content: "\f100"; }
.travelpack-aqualung-bottles:before { content: "\f101"; }
.travelpack-baseball-headgear:before { content: "\f102"; }
.travelpack-beach-bag:before { content: "\f103"; }
.travelpack-beach-ball:before { content: "\f104"; }
.travelpack-beach-mattress:before { content: "\f105"; }
.travelpack-big-trip-caravan:before { content: "\f106"; }
.travelpack-binoculars:before { content: "\f107"; }
.travelpack-boat-anchor:before { content: "\f108"; }
.travelpack-cableway-lift:before { content: "\f109"; }
.travelpack-cadillac-car:before { content: "\f10a"; }
.travelpack-camel-walking:before { content: "\f10b"; }
.travelpack-camping-tent:before { content: "\f10c"; }
.travelpack-car-trip:before { content: "\f10d"; }
.travelpack-carnival-masks:before { content: "\f10e"; }
.travelpack-circular-watch:before { content: "\f10f"; }
.travelpack-concert-tickets:before { content: "\f110"; }
.travelpack-construction-jacket:before { content: "\f111"; }
.travelpack-cruise-liner-boat:before { content: "\f112"; }
.travelpack-digital-photography-camera:before { content: "\f113"; }
.travelpack-direction-sign:before { content: "\f114"; }
.travelpack-dolphin-jimping:before { content: "\f115"; }
.travelpack-double-dice:before { content: "\f116"; }
.travelpack-dubai-burj-al-arab:before { content: "\f117"; }
.travelpack-extensible-pirate-spyglass:before { content: "\f118"; }
.travelpack-female-swim-suit:before { content: "\f119"; }
.travelpack-film-roll:before { content: "\f11a"; }
.travelpack-flip-flops-top-view:before { content: "\f11b"; }
.travelpack-flippers:before { content: "\f11c"; }
.travelpack-flying-helicopter:before { content: "\f11d"; }
.travelpack-flying-kite:before { content: "\f11e"; }
.travelpack-fork-plate-knife:before { content: "\f11f"; }
.travelpack-french-eiffel-tower:before { content: "\f120"; }
.travelpack-frontal-reflex-camera:before { content: "\f121"; }
.travelpack-frontal-school-bus:before { content: "\f122"; }
.travelpack-frontal-train:before { content: "\f123"; }
.travelpack-frontal-video-camera:before { content: "\f124"; }
.travelpack-gym-dumbbell:before { content: "\f125"; }
.travelpack-hand-fan:before { content: "\f126"; }
.travelpack-hanger-with-towel:before { content: "\f127"; }
.travelpack-high-speed-train:before { content: "\f128"; }
.travelpack-hot-air-baloon-flying:before { content: "\f129"; }
.travelpack-hotel-key:before { content: "\f12a"; }
.travelpack-indian-tent:before { content: "\f12b"; }
.travelpack-inflatable-boat-top-view:before { content: "\f12c"; }
.travelpack-jellyfish:before { content: "\f12d"; }
.travelpack-journey-bag:before { content: "\f12e"; }
.travelpack-kayak-top-view:before { content: "\f12f"; }
.travelpack-king-size-bed:before { content: "\f130"; }
.travelpack-lifebuoy:before { content: "\f131"; }
.travelpack-luggage-cart:before { content: "\f132"; }
.travelpack-map-pin:before { content: "\f133"; }
.travelpack-martini-glass:before { content: "\f134"; }
.travelpack-mosque-construction:before { content: "\f135"; }
.travelpack-motorbiking-trip:before { content: "\f136"; }
.travelpack-motorcycle-helmet:before { content: "\f137"; }
.travelpack-mountains-with-snow:before { content: "\f138"; }
.travelpack-movie-photogram:before { content: "\f139"; }
.travelpack-open-umbrella:before { content: "\f13a"; }
.travelpack-orientation-compass:before { content: "\f13b"; }
.travelpack-party-drink:before { content: "\f13c"; }
.travelpack-passports:before { content: "\f13d"; }
.travelpack-petrol-station:before { content: "\f13e"; }
.travelpack-ping-pong-rackets:before { content: "\f13f"; }
.travelpack-pisa-tower:before { content: "\f140"; }
.travelpack-polaroid-pictures:before { content: "\f141"; }
.travelpack-postal-stamp:before { content: "\f142"; }
.travelpack-pyramids-of-egypt:before { content: "\f143"; }
.travelpack-reading-glasses:before { content: "\f144"; }
.travelpack-reception-bell:before { content: "\f145"; }
.travelpack-retro-bicycle:before { content: "\f146"; }
.travelpack-room-service:before { content: "\f147"; }
.travelpack-safety-box:before { content: "\f148"; }
.travelpack-sailing-yacht:before { content: "\f149"; }
.travelpack-scooter:before { content: "\f14a"; }
.travelpack-scuba-mask:before { content: "\f14b"; }
.travelpack-sea-horse:before { content: "\f14c"; }
.travelpack-sea-shell:before { content: "\f14d"; }
.travelpack-ship-steering-wheel:before { content: "\f14e"; }
.travelpack-shower-head-running-water:before { content: "\f14f"; }
.travelpack-skis-and-sticks:before { content: "\f150"; }
.travelpack-snowboard-with-boot:before { content: "\f151"; }
.travelpack-snowmobile:before { content: "\f152"; }
.travelpack-starfish:before { content: "\f153"; }
.travelpack-suitcase-with-wheels:before { content: "\f154"; }
.travelpack-suitcase-with-wheels-1:before { content: "\f155"; }
.travelpack-summer-sun:before { content: "\f156"; }
.travelpack-sunbed:before { content: "\f157"; }
.travelpack-surf-board:before { content: "\f158"; }
.travelpack-swimming-trunks:before { content: "\f159"; }
.travelpack-taxi-sign:before { content: "\f15a"; }
.travelpack-tennis-equipment:before { content: "\f15b"; }
.travelpack-travelling-backpack:before { content: "\f15c"; }
.travelpack-trifolded-map-route:before { content: "\f15d"; }
.travelpack-trip-bag:before { content: "\f15e"; }
.travelpack-tropical-fish:before { content: "\f15f"; }
.travelpack-two-credit-cards:before { content: "\f160"; }
.travelpack-two-palm-trees-island:before { content: "\f161"; }
.travelpack-women-hat:before { content: "\f162"; }
.travelpack-world-wide-web:before { content: "\f163"; }