
@font-face {
    font-family: "travelpack";
    src: url("fonts/travelpack.eot");
    src: url("fonts/travelpack.eot?#iefix") format("embedded-opentype"),
    url("fonts/travelpack.woff") format("woff"),
    url("fonts/travelpack.ttf") format("truetype"),
    url("fonts/travelpack.svg#travelpack") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "travelpack";
        src: url("fonts/travelpack.svg#travelpack") format("svg");
    }
}

[class^="travelpack-"]:before, [class*=" travelpack-"]:before,
[class^="travelpack-"]:after, [class*=" travelpack-"]:after {
    font-family: travelpack;
    font-style: normal;
}

.travelpack-thumbs-up:before { content: "\f100"; }
.travelpack-restaurant-dine:before { content: "\f101"; }
.travelpack-location-pin-2:before { content: "\f102"; }
.travelpack-peace-sign:before { content: "\f103"; }
.travelpack-hang-ten:before { content: "\f104"; }
.travelpack-direction-arrow:before { content: "\f105"; }
.travelpack-phone-24-7:before { content: "\f106"; }
.travelpack-lightning-bolt:before { content: "\f107"; }
.travelpack-location-pin-1:before { content: "\f108"; }
.travelpack-life-jacket:before { content: "\f109"; }
.travelpack-airplane:before { content: "\f10a"; }
.travelpack-baseball-hat:before { content: "\f10b"; }
.travelpack-suitcase-with-wheels:before { content: "\f10c"; }
.travelpack-flying-kite:before { content: "\f10d"; }
.travelpack-atv-quad-bike:before { content: "\f10e"; }
.travelpack-teepee-tent:before { content: "\f10f"; }
.travelpack-lifebuoy:before { content: "\f110"; }
.travelpack-credit-cards:before { content: "\f111"; }
.travelpack-reception-bell:before { content: "\f112"; }
.travelpack-boat-anchor:before { content: "\f113"; }
.travelpack-postage-stamp:before { content: "\f114"; }
.travelpack-ship-steering-wheel:before { content: "\f115"; }
.travelpack-camera-slr:before { content: "\f116"; }
.travelpack-eiffel-tower:before { content: "\f117"; }
.travelpack-safety-box:before { content: "\f118"; }
.travelpack-world-wide-web:before { content: "\f119"; }
.travelpack-high-speed-train:before { content: "\f11a"; }
.travelpack-trifolded-map-route:before { content: "\f11b"; }
.travelpack-extensible-pirate-spyglass:before { content: "\f11c"; }
.travelpack-fork-plate-knife:before { content: "\f11d"; }
.travelpack-hot-air-balloon:before { content: "\f11e"; }
.travelpack-train-front:before { content: "\f11f"; }
.travelpack-shower-head-water:before { content: "\f120"; }
.travelpack-room-service:before { content: "\f121"; }
.travelpack-camel-walking:before { content: "\f122"; }
.travelpack-concert-tickets:before { content: "\f123"; }
.travelpack-taj-mahal:before { content: "\f124"; }
.travelpack-camping-tent:before { content: "\f125"; }
.travelpack-dolphin-jump:before { content: "\f126"; }
.travelpack-diving-tanks-air:before { content: "\f127"; }
.travelpack-cruise-liner-boat:before { content: "\f128"; }
.travelpack-retro-bicycle:before { content: "\f129"; }
.travelpack-king-size-bed:before { content: "\f12a"; }
.travelpack-tennis-equipment:before { content: "\f12b"; }
.travelpack-passports:before { content: "\f12c"; }
.travelpack-sailing-yacht:before { content: "\f12d"; }
.travelpack-petrol-gas-station:before { content: "\f12e"; }
.travelpack-double-dice:before { content: "\f12f"; }
.travelpack-travelling-backpack:before { content: "\f130"; }
.travelpack-beach-mattress:before { content: "\f131"; }
.travelpack-polaroid-pictures:before { content: "\f132"; }
.travelpack-journey-bag:before { content: "\f133"; }
.travelpack-scuba-mask:before { content: "\f134"; }
.travelpack-gym-dumbbell:before { content: "\f135"; }
.travelpack-man:before { content: "\f136"; }
.travelpack-woman:before { content: "\f137"; }
.travelpack-person-plus:before { content: "\f138"; }
.travelpack-man-circle:before { content: "\f139"; }
.travelpack-woman-circle:before { content: "\f13a"; }
.travelpack-person-symbol:before { content: "\f13b"; }
.travelpack-sand-dollar-star:before { content: "\f13c"; }
.travelpack-pyramids:before { content: "\f13d"; }
.travelpack-beach-ball:before { content: "\f13e"; }
.travelpack-dubai-burj-al-arab:before { content: "\f13f"; }
.travelpack-clothes-hanger:before { content: "\f140"; }
.travelpack-suitcase-pack:before { content: "\f141"; }
.travelpack-umbrella:before { content: "\f142"; }
.travelpack-tower-piza:before { content: "\f143"; }
.travelpack-direction-sign:before { content: "\f144"; }
.travelpack-flip-flop-sandals:before { content: "\f145"; }
.travelpack-keys:before { content: "\f146"; }
.travelpack-beach-tote-bag:before { content: "\f147"; }
.travelpack-compass:before { content: "\f148"; }
.travelpack-motorbike-helmet:before { content: "\f149"; }
.travelpack-bikini-swimsuit:before { content: "\f14a"; }
.travelpack-clock-time:before { content: "\f14b"; }
.travelpack-snowmobile:before { content: "\f14c"; }
.travelpack-surfing-board:before { content: "\f14d"; }
.travelpack-flippers:before { content: "\f14e"; }
.travelpack-location-pin:before { content: "\f14f"; }
.travelpack-film-strip:before { content: "\f150"; }
.travelpack-sea-horse:before { content: "\f151"; }
.travelpack-mountains-snow:before { content: "\f152"; }
.travelpack-trailer-caravan:before { content: "\f153"; }
.travelpack-palm-trees:before { content: "\f154"; }
.travelpack-fish:before { content: "\f155"; }
.travelpack-truck-vehicle:before { content: "\f156"; }
.travelpack-luggage:before { content: "\f157"; }
.travelpack-hat:before { content: "\f158"; }
.travelpack-suitcase:before { content: "\f159"; }
.travelpack-binoculars:before { content: "\f15a"; }
.travelpack-sea-shell:before { content: "\f15b"; }
.travelpack-jelly-fish:before { content: "\f15c"; }
.travelpack-kayak:before { content: "\f15d"; }
.travelpack-ping-pong:before { content: "\f15e"; }
.travelpack-chair-chaise-lounge:before { content: "\f15f"; }
.travelpack-party-masks:before { content: "\f160"; }
.travelpack-bus:before { content: "\f161"; }
.travelpack-fancy-drink:before { content: "\f162"; }
.travelpack-martini-glass:before { content: "\f163"; }
.travelpack-gondola:before { content: "\f164"; }
.travelpack-taxi-sign:before { content: "\f165"; }
.travelpack-reading-glasses:before { content: "\f166"; }
.travelpack-sun-shine:before { content: "\f167"; }
.travelpack-video-camera:before { content: "\f168"; }
.travelpack-camera:before { content: "\f169"; }
.travelpack-fan:before { content: "\f16a"; }
.travelpack-inflatable-raft:before { content: "\f16b"; }
.travelpack-car:before { content: "\f16c"; }
.travelpack-film-roll:before { content: "\f16d"; }
.travelpack-swim-shorts:before { content: "\f16e"; }
.travelpack-skis-and-poles:before { content: "\f16f"; }
.travelpack-scooter:before { content: "\f170"; }
.travelpack-helicopter:before { content: "\f171"; }
.travelpack-snowboard:before { content: "\f172"; }