/* ==========================================================================
    Testimonials Widget
   ========================================================================== */

.th-quote {
    max-width:450px;
    margin:0 auto;
    padding:25px 30px 40px;
}

.th-quote blockquote {
    font-size:22px;
    font-weight:300;
    line-height:150%;
    font-style:italic;
    color:#868686;
    padding:0;
    margin-bottom:22px;
    border:0;
}

.th-quote img {
    height:60px;
    width:60px;
    float:left;
    margin:0 14px 0 0;
}

.th-quote figcaption {
    font-size:18px;
    color:#6d6d6d;
    padding-top:5px;
    margin-left:72px;
}
.th-quote figcaption span {
    display:block;
    font-size:14px;
    font-weight:normal;
    color:#868686;
}

.th-quote .th-star-rating {margin-bottom:10px}
.th-quote .th-star-rating span {
    font-size:18px;
}
.th-quote .th-star-rating span:before {
    content:"\E049";
}

.th-quote .th-star-05 .th-star-1:before,
.th-quote .th-star-15 .th-star-2:before,
.th-quote .th-star-25 .th-star-3:before,
.th-quote .th-star-35 .th-star-4:before,
.th-quote .th-star-45 .th-star-5:before {
    content:"\E507";
}

.th-quote .th-star-10 .th-star-1:before,
.th-quote .th-star-15 .th-star-1:before,
.th-quote .th-star-20 .th-star-1:before,
.th-quote .th-star-20 .th-star-2:before,
.th-quote .th-star-25 .th-star-1:before,
.th-quote .th-star-25 .th-star-2:before,
.th-quote .th-star-30 .th-star-1:before,
.th-quote .th-star-30 .th-star-2:before,
.th-quote .th-star-30 .th-star-3:before,
.th-quote .th-star-35 .th-star-1:before,
.th-quote .th-star-35 .th-star-2:before,
.th-quote .th-star-35 .th-star-3:before,
.th-quote .th-star-40 .th-star-1:before,
.th-quote .th-star-40 .th-star-2:before,
.th-quote .th-star-40 .th-star-3:before,
.th-quote .th-star-40 .th-star-4:before,
.th-quote .th-star-45 .th-star-1:before,
.th-quote .th-star-45 .th-star-2:before,
.th-quote .th-star-45 .th-star-3:before,
.th-quote .th-star-45 .th-star-4:before,
.th-quote .th-star-50 .th-star-1:before,
.th-quote .th-star-50 .th-star-2:before,
.th-quote .th-star-50 .th-star-3:before,
.th-quote .th-star-50 .th-star-4:before,
.th-quote .th-star-50 .th-star-5:before {
    content:"\E050";
}

/*.light-text.testimonials .quote blockquote,
.light-text.testimonials .quote figcaption,
.light-text.testimonials .quote figcaption span {color:#fff} */