/* ==========================================================================
    Testimonials Widget
   ========================================================================== */

.th-quote {
    max-width:450px;
    margin:0 auto;
    padding:25px 30px 40px;
}

.th-quote blockquote {
    font-size:22px;
    font-weight:300;
    line-height:150%;
    font-style:italic;
    color:#868686;
    padding:0;
    margin-bottom:22px;
    border:0;
}

.th-quote img {
    height:60px;
    width:60px;
    float:left;
    margin:0 14px 0 0;
}

.th-quote figcaption {
    font-size:18px;
    color:#6d6d6d;
    padding-top:5px;
    margin-left:72px;
}
.th-quote figcaption span {
    display:block;
    font-size:14px;
    font-weight:normal;
    color:#868686;
}

/*.light-text.testimonials .quote blockquote,
.light-text.testimonials .quote figcaption,
.light-text.testimonials .quote figcaption span {color:#fff} */