/* ==========================================================================
    FAQ Widget
   ========================================================================== */

.th-faq {}

.th-faq dl dt {
    padding-top:20px;
    color:#515151;
    font-size:18px;
    font-weight:600;
}

.th-faq dl dd {
    padding:10px 0 20px 0;
    border-bottom:1px solid #e2e3e4;
    color:#5c5c5c;
    line-height:24px;
}