/* ==========================================================================
    Team Widget
   ========================================================================== */

.th-team-member-wrap {
    max-width:480px;
    padding-bottom:10px;
}

.th-team-member-image {margin-bottom:20px}

.th-team-member a:hover {text-decoration:none}

.th-team-member h4, .th-team-member h5,
.th-team-member-bio, .th-team-member-social {
    padding-left:20px;
    padding-right:20px;
}

.th-team-member h4 {margin-top:0}

.th-team-member h5 {
    font-size:16px;
    font-weight:300;
}

.th-team-member-social a span {
    font-size:24px;
    color:#000;
    opacity:0.3;
    margin-top:5px;
    padding: 0 10px 10px 0;
}
.th-team-member-social a span:hover {
    color:#045089;
    opacity:1;
}

.th-team-member.th-light-text h4,
.th-team-member.th-light-text h5,
.th-team-member.th-light-text .th-team-member-bio,
.th-team-member.th-light-text .th-team-member-bio p,
.th-team-member.th-light-text .th-team-member-social a span,
.th-team-member.th-light-text .th-team-member-social a span:hover {
    color:#fff;
}
