/* ==========================================================================
   Pricing Plans Meta Box
   ========================================================================== */

/*.pricing-section {
    padding-top:60px;
    padding-bottom:40px;
}*/

.th-pricing-table {
    padding-right:15px;
    padding-left:15px;
}

.th-pricing-column {
    text-align:center;
    padding:40px 30px;
    border:1px solid #e4e4e4;
    border-left:0;
    background-color:#fff;
}
.th-pricing-column:first-child {border-left:1px solid #e4e4e4}

.th-pricing-column.th-highlight {
    position:relative;
    z-index:100;
    margin:-20px -1px 0 -1px;
    padding:60px 30px;
    background-color:#045089;
    border:1px solid #045089;
}
.th-pricing-column.th-highlight .th-pricing-cost,
.th-pricing-column.th-highlight .th-pricing-title,
.th-pricing-column.th-highlight ul li {
    border-color:rgba(255,255,255,0.2);
    color:#fff;
}

.th-pricing-column.th-highlight .btn-standard,
.light-text .th-pricing-column.th-highlight .btn-standard {
    border-color:#fff;
    color:#045089;
    background-color:#fff;
}
.th-pricing-column.th-highlight .btn-standard:hover,
.light-text .th-pricing-column.th-highlight .btn-standard:hover {
    border-color:#fff;
    background-color:#fff;
}

.th-pricing-column.th-highlight .btn-ghost,
.light-text .th-pricing-column.th-highlight .btn-ghost {
    border-color:#fff;
    color:#fff;
    background-color:transparent;
}
.th-pricing-column.th-highlight .btn-ghost:hover,
.light-text .th-pricing-column.th-highlight .btn-ghost:hover {
    border-color:#fff;
    color:#045089;
    background-color:#fff;
}

.th-one-col .th-pricing-column.th-highlight {
    margin-left:25%;
    margin-right:25%;
}

.th-pricing-cost {
    font-size:46px;
    color:#045089;
    font-weight:600;
    padding-bottom:20px;
}
.th-pricing-cost span {
    font-size:18px;
    font-weight:400;
}

.th-pricing-title {
    font-size:20px;
    color:#515151;
    font-weight:600;
    padding-bottom:20px;
}

.th-pricing-table ul, .th-pricing-table ul li {
    list-style:none;
    margin:0;
    padding:0;
}
.th-pricing-table ul {
    padding-bottom:20px;
    margin-bottom:15px;
}
.th-pricing-table ul li {
    font-size:15px;
    color:#5c5c5c;
    padding:16px 0;
    border-bottom:1px solid #e7e7e7;
}

.th-pricing-table .th-btn {
    margin:15px 5px 0;
}

.th-pricing-table p.a2c-btn {margin-bottom:0}

.th-pricing-footer {
    text-align:center;
    font-size:13px;
    padding-top:20px;
}

/*
.light-text .th-pricing-table .btn-ghost {
    color:#045089;
    background-color:transparent;
    border-color:#045089;
}
.light-text .th-pricing-table .btn-ghost:hover {
    color:#fff;
    background-color:#045089;
    border-color:#045089;
}

*/