.ekit-menu-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #bbb;
    color: #fff;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 8px;
    line-height: 1;
    z-index: 10;
}
.ekit-menu-badge > .ekit-menu-badge-arrow {
    position: absolute;
    bottom: -12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-left: solid transparent;
    border-right: solid transparent;
    border-top: solid #bbb;
    border-bottom: solid transparent;
    border-width: 6px;
}
.elementskit-dropdown li {
    position: relative;
}
.elementskit-dropdown .ekit-menu-badge {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.elementskit-navbar-nav-default .elementskit-navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 0;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav > li {
    position: relative;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav > li > a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav > li > a:hover {
    text-decoration: none;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav > li.elementskit-megamenu-has {
    position: static;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav > li > a {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-transform: none;
    font-weight: 500;
    letter-spacing: normal;
}
.elementskit-navbar-nav-default .elementskit-dropdown {
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    background-color: #f4f4f4;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-left: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
}
.elementskit-navbar-nav-default .elementskit-dropdown > li > .elementskit-dropdown {
    left: 100%;
    top: 0;
}
.elementskit-navbar-nav-default .elementskit-dropdown > li > .elementskit-dropdown.open-fromleft {
    left: auto;
    right: 100%;
}
.elementskit-navbar-nav-default .elementskit-submenu-panel > li > a {
    display: block;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav.elementskit-dropdown li:hover > a,
.elementskit-navbar-nav-default .elementskit-navbar-nav > .elementskit-dropdown li > a:hover {
    color: #1e73be;
    background-color: #fff;
}
.elementskit-navbar-nav-default .elementskit-submenu-panel > li:hover > a,
.elementskit-navbar-nav-default .elementskit-submenu-panel > li > a:hover {
    color: #0d3a4f;
    background-color: rgba(255, 255, 255, 0.5);
}
.elementskit-navbar-nav-default .elementskit-megamenu-panel {
    width: 100%;
}
.elementskit-navbar-nav-default .elementskit-overlay {
    display: none;
}
.elementskit-navbar-nav-default .elementskit-nav-identity-panel {
    display: none;
}
.elementskit-navbar-nav-default .elementskit-menu-close {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(51, 51, 51, 0.5);
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.elementskit-navbar-nav-default .elementskit-dropdown-has > a {
    position: relative;
}
.elementskit-navbar-nav-default .elementskit-dropdown-has > a .elementskit-submenu-indicator {
    margin-left: 6px;
    display: block;
    float: right;
    cursor: pointer;
    position: relative;
    font-weight: 900;
    font-style: normal;
    font-size: 11px;
}
@media (max-width: 1024px) {
    .elementskit-navbar-nav-default .elementskit-dropdown-has > a .elementskit-submenu-indicator {
        padding: 4px 15px;
    }
}
.elementskit-navbar-nav-default.elementskit_line_arrow .elementskit-submenu-indicator {
    font-style: normal;
}
.elementskit-navbar-nav-default.elementskit_plus_icon .elementskit-submenu-indicator {
    font-style: normal;
}
.elementskit-navbar-nav-default.elementskit_plus_icon .elementskit-submenu-indicator::before {
    content: "+";
}
.elementskit-navbar-nav-default.elementskit_fill_arrow .elementskit-submenu-indicator::before {
    content: "\f0d7";
}
.elementskit-navbar-nav-default.elementskit_fill_arrow .elementskit-submenu-panel > li > a .elementskit-submenu-indicator::before {
    content: "\f0da";
}
.elementskit-navbar-nav-default.elementskit-menu-container {
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 100%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    position: relative;
    height: 100px;
    z-index: 90000;
}
.elementskit-navbar-nav-default .elementskit-dropdown {
    min-width: 250px;
    margin-left: 0;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav > li > a {
    font-size: 15px;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav.elementskit-menu-po-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav.elementskit-menu-po-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.elementskit-navbar-nav-default .elementskit-navbar-nav.elementskit-menu-po-justified {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (min-width: 1025px) {
    .elementskit-navbar-nav-default .elementskit-dropdown {
        box-shadow: 0 10px 30px 0 rgba(45, 45, 45, 0.2);
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        pointer-events: none;
        max-height: none;
    }
    .elementskit-navbar-nav-default .elementskit-megamenu-panel {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        margin-left: 0;
        position: absolute;
        left: 0;
        top: 100%;
        display: block;
    }
}
@media (min-width: 1025px) {
    .elementskit-navbar-nav-default .elementskit-megamenu-has:hover > .elementskit-megamenu-panel {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
    }
}
.elementskit-navbar-nav-default .elementskit-megamenu-has .elementskit-dropdown {
    display: none;
}
@media (max-width: 1024px) {
    .elementskit-navbar-nav-default.elementskit-menu-offcanvas-elements {
        background-color: #f7f7f7;
        width: 100%;
        position: fixed;
        top: 0;
        left: -110%;
        height: 100%;
        box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
        transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
    }
    .elementskit-navbar-nav-default .no-scroller {
        overflow: hidden;
    }
    .elementskit-navbar-nav-default .elementskit-nav-identity-panel {
        display: block;
        position: relative;
        z-index: 5;
        width: 100%;
    }
    .elementskit-navbar-nav-default .elementskit-nav-identity-panel .elementskit-site-title {
        float: left;
    }
    .elementskit-navbar-nav-default .elementskit-nav-identity-panel .elementskit-menu-close {
        float: right;
    }
    .elementskit-navbar-nav-default .elementskit-navbar-nav > li > a {
        color: #000;
        font-size: 12px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .elementskit-navbar-nav-default .elementskit-navbar-nav > li > a:hover {
        color: #0d3a4f;
    }
    .elementskit-navbar-nav-default .elementskit-navbar-nav > li:hover > a {
        color: #0d3a4f;
    }
    .elementskit-navbar-nav-default .elementskit-submenu-panel > li > a {
        color: #000;
        font-size: 12px;
        padding-top: 7px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 7px;
    }
    .elementskit-navbar-nav-default .elementskit-dropdown {
        display: block;
        border: 0;
        margin-left: 0;
    }
    .elementskit-navbar-nav-default .elementskit-megamenu-panel {
        display: none;
    }
    .elementskit-navbar-nav-default .elementskit-navbar-nav > .elementskit-dropdown-has > .elementskit-dropdown li a {
        padding-left: 15px;
    }
}
@media (min-width: 1025px) {
    .elementskit-dropdown-has .elementskit-dropdown {
        box-shadow: 0 10px 30px 0 rgba(45, 45, 45, 0.2);
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        pointer-events: none;
        max-height: none;
    }
    .elementskit-dropdown-has:hover > .elementskit-dropdown {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .ekit_menu_responsive_mobile .elementskit-navbar-nav-default .elementskit-dropdown-has:hover > .elementskit-dropdown,
    .ekit_menu_responsive_mobile .elementskit-navbar-nav-default .elementskit-dropdown-has:hover > .elementskit-megamenu-panel,
    .ekit_menu_responsive_tablet .elementskit-navbar-nav-default .elementskit-dropdown-has:hover > .elementskit-dropdown,
    .ekit_menu_responsive_tablet .elementskit-navbar-nav-default .elementskit-dropdown-has:hover > .elementskit-megamenu-panel {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 766px) {
    .ekit_menu_responsive_tablet .elementskit-megamenu-has.elementskit-mobile-builder-content .elementskit-dropdown {
        display: none;
    }
    .ekit_menu_responsive_tablet .elementskit-megamenu-has.elementskit-mobile-builder-content .elementskit-megamenu-panel.elementskit-dropdown-open {
        display: block;
    }
    .ekit_menu_responsive_tablet .elementskit-megamenu-panel.elementskit-dropdown-open {
        display: block;
    }
    .ekit_menu_responsive_tablet .elementskit-dropdown {
        display: none;
    }
    .ekit_menu_responsive_tablet .elementskit-dropdown ~ .elementskit-megamenu-panel {
        display: none;
    }
    .ekit_menu_responsive_tablet .elementskit-dropdown.elementskit-dropdown-open {
        display: block;
        max-height: 2500px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: max-height 5s ease-out;
        transition: max-height 5s ease-out;
    }
    .ekit_menu_responsive_tablet .elementskit-navbar-nav {
        overflow-y: auto;
    }
    .ekit_menu_responsive_tablet .elementskit-dropdown > li > .elementskit-dropdown {
        left: 0;
    }
}
.elementskit-menu-close,
.elementskit-menu-hamburger {
    display: none;
}
.elementskit-menu-hamburger {
    color: #000;
}
@media (max-width: 1024px) {
    .elementskit-menu-overlay {
        display: block;
        position: fixed;
        z-index: 14;
        top: 0;
        left: -110%;
        height: 100%;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.5);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53) 0.4s;
        transition: all 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53) 0.4s;
    }
    .elementskit-menu-hamburger {
        border: 1px solid rgba(0, 0, 0, 0.2);
        float: right;
    }
    .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .elementskit-menu-close,
    .elementskit-menu-hamburger {
        padding: 8px;
        background-color: transparent;
        border-radius: 0.25rem;
        position: relative;
        z-index: 10;
        cursor: pointer;
        width: 45px;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }
    .elementskit-menu-close .elementskit-menu-hamburger-icon,
    .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
        height: 1px;
        width: 100%;
        display: block;
        margin-bottom: 4px;
    }
    .elementskit-menu-close .elementskit-menu-hamburger-icon:last-child,
    .elementskit-menu-hamburger .elementskit-menu-hamburger-icon:last-child {
        margin-bottom: 0;
    }
    .elementskit-navbar-nav .ekit-menu-badge {
        font-size: 7px;
    }
}
.elementskit-navbar-nav-default .elementskit-navbar-nav > li > .elementskit-dropdown > li > a .ekit-menu-badge .ekit-menu-badge-arrow {
    display: none;
}
.dropdown-item,
.ekit-menu-nav-link {
    position: relative;
}
.dropdown-item > i,
.ekit-menu-nav-link > i {
    padding-right: 5px;
}
@-webkit-keyframes xs-zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes xs-zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
.xs-zoomIn {
    -webkit-animation-name: xs-zoomIn;
    animation-name: xs-zoomIn;
}
.elementskit-nav-logo {
    display: inline-block;
}
@media (max-width: 1024px) {
    .elementor-widget-ekit-nav-menu {
        -webkit-animation: none !important;
        animation: none !important;
    }
    .ekit-wid-con:not(.ekit_menu_responsive_mobile) .elementskit-navbar-nav {
        display: block;
    }
}
@media (max-width: 1024px) {
    .elementskit-menu-close,
    .elementskit-menu-hamburger {
        display: block;
    }
    .elementskit-menu-container {
        max-width: 350px;
    }
    .elementskit-menu-overlay.active {
        left: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.22, 0.61, 0.24, 1) 0s;
        transition: all 0.6s cubic-bezier(0.22, 0.61, 0.24, 1) 0s;
    }
    .elementskit-menu-offcanvas-elements {
        height: 100% !important;
        padding-bottom: 10px;
    }
    .elementskit-menu-offcanvas-elements.active {
        left: 0;
    }
    .elementskit-dropdown {
        position: relative;
        max-height: 0;
        box-shadow: none;
        -webkit-transition: max-height 2s cubic-bezier(0, 1, 0, 1);
        transition: max-height 2s cubic-bezier(0, 1, 0, 1);
    }
    .ekit_menu_responsive_tablet .ekit-menu-badge {
        position: static;
        margin-left: 10px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .ekit_menu_responsive_tablet .ekit-menu-badge > .ekit-menu-badge-arrow {
        display: none;
    }
    .ekit_menu_responsive_tablet .elementskit-navbar-nav-default .elementskit-dropdown-has > a .elementskit-submenu-indicator {
        margin-left: auto;
    }
    .ekit_menu_responsive_tablet .elementskit-submenu-indicator {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        border: 1px solid;
        border-radius: 30px;
    }
}
@media screen and (min-width: 766px) and (max-width: 1024px) {
    .ekit_menu_responsive_mobile .elementskit-menu-offcanvas-elements {
        position: static;
    }
    .ekit_menu_responsive_mobile .elementskit-nav-identity-panel {
        display: none;
    }
    .ekit_menu_responsive_mobile .elementskit-menu-hamburger {
        display: none;
    }
    .ekit_menu_responsive_mobile .elementskit-menu-container {
        overflow-y: unset;
        overflow-x: unset;
    }
    .ekit_menu_responsive_mobile .elementskit-dropdown {
        box-shadow: 0 10px 30px 0 rgba(45, 45, 45, 0.2);
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        pointer-events: none;
        max-height: none;
    }
    .ekit_menu_responsive_mobile .elementskit-megamenu-panel {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        margin-left: 0;
        position: absolute;
        left: 0;
        top: 100%;
        display: block;
    }
    .ekit_menu_responsive_mobile .elementskit-dropdown-menu-full_width .elementskit-megamenu-panel {
        width: 100vw;
    }
    .ekit_menu_responsive_mobile .elementskit-dropdown-menu-full_width.top_position .elementskit-megamenu-panel {
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
    .ekit_menu_responsive_mobile .elementskit-navbar-nav > li.elementskit-megamenu-has.relative_position {
        position: relative;
    }
    .ekit_menu_responsive_mobile .elementskit-megamenu-panel .elementor-section-wrap > .elementor-section > .elementor-container {
        max-width: none;
    }
}
@media (max-width: 767px) {
    .ekit_menu_responsive_mobile .elementskit-navbar-nav {
        display: block;
    }
    .ekit_menu_responsive_mobile .elementskit-dropdown {
        position: relative;
    }
    .ekit_menu_responsive_mobile .ekit-menu-badge {
        position: static;
        margin-left: 10px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .ekit_menu_responsive_mobile .ekit-menu-badge > .ekit-menu-badge-arrow {
        display: none;
    }
    .ekit_menu_responsive_mobile .elementskit-navbar-nav-default .elementskit-dropdown-has > a .elementskit-submenu-indicator {
        margin-left: auto;
    }
    .ekit_menu_responsive_mobile .elementskit-submenu-indicator {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        border: 1px solid;
        border-radius: 30px;
    }
    .ekit_menu_responsive_mobile .elementskit-megamenu-has.elementskit-mobile-builder-content .elementskit-dropdown,
    .ekit_menu_responsive_tablet .elementskit-megamenu-has.elementskit-mobile-builder-content .elementskit-dropdown {
        display: none;
    }
    .ekit_menu_responsive_mobile .elementskit-megamenu-has.elementskit-mobile-builder-content .elementskit-megamenu-panel.elementskit-dropdown-open,
    .ekit_menu_responsive_tablet .elementskit-megamenu-has.elementskit-mobile-builder-content .elementskit-megamenu-panel.elementskit-dropdown-open {
        display: block;
    }
    .ekit_menu_responsive_mobile .elementskit-megamenu-panel.elementskit-dropdown-open,
    .ekit_menu_responsive_tablet .elementskit-megamenu-panel.elementskit-dropdown-open {
        display: block;
    }
    .ekit_menu_responsive_mobile .elementskit-dropdown,
    .ekit_menu_responsive_tablet .elementskit-dropdown {
        display: none;
    }
    .ekit_menu_responsive_mobile .elementskit-dropdown ~ .elementskit-megamenu-panel,
    .ekit_menu_responsive_tablet .elementskit-dropdown ~ .elementskit-megamenu-panel {
        display: none;
    }
    .ekit_menu_responsive_mobile .elementskit-dropdown.elementskit-dropdown-open,
    .ekit_menu_responsive_tablet .elementskit-dropdown.elementskit-dropdown-open {
        display: block;
        max-height: 2500px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: max-height 5s ease-out;
        transition: max-height 5s ease-out;
    }
    .ekit_menu_responsive_mobile .elementskit-navbar-nav,
    .ekit_menu_responsive_tablet .elementskit-navbar-nav {
        overflow-y: auto;
    }
    .ekit_menu_responsive_mobile .elementskit-dropdown > li > .elementskit-dropdown,
    .ekit_menu_responsive_tablet .elementskit-dropdown > li > .elementskit-dropdown {
        left: 0;
    }
}
.elementskit-navbar-nav .elementskit-submenu-panel > li:hover > a > i,
.elementskit-navbar-nav .elementskit-submenu-panel > li > a:hover > i {
    color: inherit !important;
}
@media (max-width: 767px) {
    .ekit-sticky .elementskit-menu-container.elementskit-menu-offcanvas-elements {
        height: 120vh !important;
    }
    .ekit-sticky .elementskit-menu-overlay {
        display: none;
    }
    .ekit-sticky .elementskit-menu-offcanvas-elements::before {
        position: fixed;
        content: "";
        top: 0;
        left: -110%;
        height: 100%;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.5);
        -webkit-transition: left 0.5s ease;
        transition: left 0.5s ease;
    }
    .ekit-sticky .elementskit-menu-offcanvas-elements::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: inherit;
    }
    .ekit-sticky .elementskit-menu-offcanvas-elements.active::before {
        left: 0;
    }
    .ekit-sticky .elementskit-navbar-nav-default .elementskit-navbar-nav {
        position: relative;
        z-index: 5;
    }
}
@media (min-width: 1025px) {
    .elementor-widget-ekit-nav-menu .elementskit-dropdown-menu-full_width .elementskit-megamenu-panel {
        width: 100vw;
    }
    .elementor-widget-ekit-nav-menu .elementskit-navbar-nav > li.elementskit-megamenu-has.relative_position {
        position: relative;
    }
    .elementskit-megamenu-panel .elementor-section-wrap > .elementor-section > .elementor-container {
        max-width: none;
    }
}
.elementskit-dropdown-has > .sub-menu-toggle {
    display: none;
}
.ekit-nav-menu--empty-fallback {
    font-size: 0;
}
@media (min-width: 766px) {
    .ekit_menu_responsive_mobile .ekit-nav-menu--empty-fallback,
    .ekit_menu_responsive_mobile .ekit-nav-menu--overlay {
        display: none;
    }
}
@media (min-width: 1025px) {
    .ekit_menu_responsive_tablet .ekit-nav-menu--empty-fallback,
    .ekit_menu_responsive_tablet .ekit-nav-menu--overlay {
        display: none;
    }
}
.ekit-vertical-menu-tigger {
    display: block;
    background: #ffb25d;
    box-shadow: 0 7px 15px rgba(255, 178, 93, 0.3);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 16px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    line-height: 1;
}
.ekit-vertical-menu-tigger img:not([draggable]).vertical-menu-icon {
    max-width: 14px;
}
.ekit-vertical-menu-tigger .vertical-menu-icon {
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.ekit-vertical-menu-tigger:hover {
    color: #fff;
}
.vertical-menu-right-icon {
    margin-right: 7px;
}
.vertical-menu-left-icon {
    float: right;
}
.ekit-vertical-navbar-nav {
    padding-left: 0;
    list-style: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.ekit-vertical-navbar-nav .elementskit-dropdown,
.ekit-vertical-navbar-nav .elementskit-megamenu-panel {
    margin-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.ekit-vertical-navbar-nav .elementskit-megamenu-has .elementskit-dropdown {
    display: none;
}
.ekit-vertical-navbar-nav > li:not(:last-child) {
    border-bottom: 1px solid #ededed;
}
.ekit-vertical-navbar-nav > li > a {
    font-size: 14px;
    font-weight: 500;
    color: #101010;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ekit-vertical-navbar-nav > li > a .ekit-menu-icon {
    margin-right: 7px;
    padding-right: 0;
}
.ekit-vertical-navbar-nav > li > a .ekit-menu-badge-arrow {
    display: none;
}
.ekit-vertical-navbar-nav > li > a .ekit-menu-badge {
    position: static;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 10px;
}
.ekit-vertical-navbar-nav > li > a:hover {
    color: #4285f4;
}
.ekit-vertical-navbar-nav > li:hover > a {
    color: #4285f4;
}
.ekit-vertical-navbar-nav li.elementskit-dropdown-has {
    position: relative;
}
@media (min-width: 1025px) {
    .ekit-vertical-navbar-nav li.elementskit-dropdown-has:hover > .elementskit-dropdown {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}
@media (min-width: 1025px) {
    .ekit-vertical-navbar-nav li.elementskit-megamenu-has.relative_position {
        position: relative;
    }
    .ekit-vertical-navbar-nav li.elementskit-megamenu-has.top_position {
        position: static;
    }
    .ekit-vertical-navbar-nav li.elementskit-megamenu-has:hover > .elementskit-megamenu-panel {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}
@media (max-width: 1024px) {
    .ekit-vertical-navbar-nav .elementskit-megamenu-panel {
        display: none;
        width: auto !important;
    }
    .ekit-vertical-navbar-nav .elementskit-mobile-builder-content .elementskit-megamenu-panel.elementskit-dropdown-open {
        display: block;
    }
    .ekit-vertical-navbar-nav .elementskit-dropdown-has .elementskit-dropdown.elementskit-dropdown-open {
        display: block;
    }
    .ekit-vertical-navbar-nav .elementskit-megamenu-has.elementskit-mobile-builder-content .elementskit-dropdown {
        display: none;
    }
}
.ekit-vertical-navbar-nav .elementskit-dropdown {
    padding-left: 0;
    list-style: none;
    max-width: 220px;
    width: 100%;
}
@media (min-width: 1025px) {
    .ekit-vertical-navbar-nav .elementskit-dropdown {
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 100;
        background-color: #fff;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        pointer-events: none;
    }
}
@media (max-width: 1024px) {
    .ekit-vertical-navbar-nav .elementskit-dropdown {
        display: none;
        max-height: none;
        max-width: 100%;
        padding: 10px 15px;
    }
}
@media (min-width: 1025px) {
    .ekit-vertical-navbar-nav .elementskit-dropdown > li:not(:last-child) {
        border-bottom: 1px solid #ededed;
    }
}
.ekit-vertical-navbar-nav .elementskit-dropdown > li:first-child {
    margin-top: 0;
}
.ekit-vertical-navbar-nav .elementskit-dropdown > li:last-child {
    margin-bottom: 0;
}
.ekit-vertical-navbar-nav .elementskit-dropdown > li > a {
    font-size: 14px;
    font-weight: 500;
    color: #101010;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 1025px) {
    .ekit-vertical-navbar-nav .elementskit-megamenu-panel {
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 100;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        pointer-events: none;
        width: 100%;
    }
}
.ekit-vertical-navbar-nav .elementskit-submenu-indicator {
    display: block;
    line-height: 1;
    margin-left: auto;
    position: relative;
    font-weight: 900;
    font-style: normal;
    font-family: "Font Awesome 5 Free";
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.ekit-vertical-navbar-nav .elementskit-submenu-indicator::before {
    content: "\f105";
}
.badge-position-right .ekit-vertical-navbar-nav .ekit-menu-badge {
    margin-left: auto;
}
.badge-position-right .ekit-menu-badge ~ .elementskit-submenu-indicator {
    margin-left: 12px;
}
.ekit-vertical-main-menu-on-click {
    position: relative;
}
.ekit-vertical-main-menu-on-click .ekit-vertical-menu-container {
    position: absolute;
    top: 100%;
    z-index: 1111;
    left: 0;
    width: 100%;
}
.ekit-vertical-main-menu-on-click.vertical-menu-active .ekit-vertical-menu-container {
    opacity: 1;
    visibility: visible;
}
.ekit-vertical-main-menu-on-click.vertical-menu-active .ekit-vertical-menu-tigger .vertical-menu-left-icon {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.ekit-vertical-main-menu-on-click .ekit-vertical-menu-container {
    opacity: 0;
    visibility: hidden;
}
.ekit-vertical-menu-container {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}