/* ==========================================================================
    CTA Widget
   ========================================================================== */

.th-cta {text-align:center}

.th-cta .th-cta-text,
.th-cta .th-cta-btn {display:inline-block}
.th-cta span {
    font-size:22px;
    font-weight:600;
    color:#045089;
    margin-left:15px;
    margin-right:15px;
}

.th-cta .th-cta-btn {margin:10px 15px}

.th-cta .btn-cta,
.th-cta .a2c-cta a.button {margin:5px 5px 8px}

.th-cta .btn-standard,
.th-cta .btn-ghost,
.th-cta .a2c-standard a.button,
.th-cta .a2c-ghost a.button {
    font-size:18px;
    padding:12px 45px;
    margin:5px 5px 10px;
}

.th-cta .th-cta-btn i {margin-top:3px}

/*.light-text.th-cta span {color:#fff}*/